<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
  			<link href="fav.ico" rel="Shortcut Icon"/>
  			<meta name="charset" content="UTF-8"/>
  			<meta name="author" content="Colin Chu"/>
  			<meta name="description" content="Colin Chu's Personal Webpage"/>
  			<meta name="keywords" content="Colin Chu, Computer Science"/>
  			<link href="assets/css/reset.css" rel="stylesheet"/>
			<link href="assets/css/main.css" rel="stylesheet"/>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
